
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.login-left {
  flex: 1;
  background-color: #f5f7fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-image {
  max-width: 80%;
  height: auto;
}

.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.login-form {
  width: 80%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.login-input {
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background-color: #f9f9f9;
}

.login-button {
  padding: 12px;
  background-color: #d17b4f;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #d17b4f;
}

.login-message {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.login-message.error {
  color: crimson;
}

.login-message.success {
  color: green;
}


@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-left {
    display: none;
  }

  .login-right {
    flex: none;
    height: 100vh;
  }
}
